*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: red;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 500px;
  width: 500px;
  background-color: blue;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cubo{
  height: 50px;
  width: 50px;
  border: 1px solid white;
}

.cubo.click{
  background-color: rgb(11, 205, 240);
}

.start{
  
  margin: 100px 100px 100px 100px;
  height: 20px;
  width: 60px;
}

.start:hover{
  cursor: pointer;
}


.hide{
  display: none;
}